.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar li {
  padding: 0 20px;
  font-size: 20px;
}

.navbar li.active {
  color: red;
  font-weight: bold;
}
